<div class="editable-content" contenteditable="true">
{{safeContent}}
</div>
{{#if focused}}
<div class="instrumenta">
{{#each _instrumenta as |instrumentaSection|}}
  <span class="instrumenta-section">
  {{#each instrumentaSection as |instrumentum|}}
    {{#if instrumentum.dropdown}}
      {{#if (is-array instrumentum.content)}}
        {{dropdown-instrumentum content=instrumentum}}
      {{else}}
        {{#dropdown-instrumentum content=instrumentum}}
          {{component instrumentum.content.component parent=this value=instrumentum.content.value}}
        {{/dropdown-instrumentum}}
      {{/if}}
    {{else}}
      {{fa-icon icon=instrumentum.icon click=(action 'apply' instrumentum.action)}}
    {{/if}}
  {{/each}}
  </span>
{{/each}}
</div>
{{/if}}
