<div class="editable-content" contentEditable="true">{{safeContent}}</div>
{{#if focused}}
<div class="instrumenta">
{{#each _instrumenta as |instrumentaSection|}}
  <span class="instrumenta-section">
  {{#each instrumentaSection as |instrumentum|}}
    {{#if instrumentum.dropdown}}
      {{#if (is-array instrumentum.content)}}
        {{dropdown-instrumentum content=instrumentum}}
      {{else}}
        {{#dropdown-instrumentum content=instrumentum}}
          {{component instrumentum.component parent=this value=instrumentum.value}}
        {{/dropdown-instrumentum}}
      {{/if}}
    {{else}}
      {{!#if instrumentum.component}}
{{!#color-picker color=content.css.background-color colorChange=(action 'change' 'background-color')}}
        {{!component instrumentum.component parent=this value=instrumentum.content.value}}     
      {{!else}}
        {{fa-icon icon=instrumentum.icon click=(action 'apply' instrumentum.action)}}
      {{!/if}}
    {{/if}}
  {{/each}}
  </span>
{{/each}}
{{#if colorPicker}}
  <span class="instrumenta-section">
  {{#component colorPicker tagName='i' value=content.css.color action=(action 'apply' 'foreColor')}}
    <span class="add-on text" title="{{t 'editor.text-color'}}" data-toggle="tooltip" data-placement="bottom"><i></i></span>
  {{/component}}
  {{#component colorPicker tagName='i' value=content.css.background-color action=(action 'apply' 'backColor')}}
    <span class="add-on background" title="{{t 'editor.background-color'}}" data-toggle="tooltip" data-placement="bottom"><i></i></span>
  {{/component}}
  </span>
{{/if}}
</div>
{{/if}}
